<div id="comment-<%= comment.id %>" class="text-base bg-white border-b border-gray-200  rounded-lg mb-4 ">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <p class="text-xs text-gray-600 font-semibold"><%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>

    <%= link_to post_comment_path(comment.post, comment), method: :delete,
                class: "inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-white rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-50",
                data: { turbo_confirm: "Are you sure you want to remove this comment?", "turbo-method": :delete, "controller": "post", "action": "click->post#removeComment", "comment-id": comment.id } do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>
  <p class="text-gray-500 mb-4"><%= comment.comment %></p>
</div>