<p class="mt-2 text-sm/relaxed text-gray-600">
  <%= @page.description %>
</p>

<p class="mt-2 text-sm/relaxed text-gray-600">
  <img src="<%= @page.images.best %>" alt="<%= @page.best_title %>">
</p>

<h4 class="mt-2 text-g font-bold text-gray-900">
  <%= @page.best_title %>
</h4>