<div class="flex items-end mt-4">
  <button class="like-button text-sky-500 middle none center mr-1 h-8 w-8 rounded-lg"
    data-post-id="<%= post.id %>"
    data-liked="<%= post.liked %>">
    <% if post.liked %>
      <i class="fa-solid fa-heart"></i>
    <% else %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  </button>

  <button class="bookmark-button text-sky-500 middle none center h-8 w-8 rounded-lg"
    data-post-id="<%= post.id %>"
    data-bookmarked="<%= post.bookmarked %>">
    <% if post.liked %>
      <i class="fa-solid fa-bookmark"></i>
    <% else %>
      <i class="fa-regular fa-bookmark"></i>
    <% end %>
  </button>

  <% if post.comments_counter > 0 %>
    <div class="text-sky-500 middle text-sm/relaxed ml-auto rounded-lg">
      <i class="fa-solid fa-comment"></i>
    </div>
  <% end %>
</div>